.modal-pokemon {
    background-color: white;
    width: 130%;
    height: auto;
    position: absolute;
    top: 35%; /*posiciona el modal desde arriba*/
    left: 165%; /*posiciona el modal desde el lado izquierdo*/
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #999;
}

.modal-pokemon>.c1 {
    display: inline-flex;
    flex-direction: row;
    font-size: 15px;
    margin-bottom: 40px;
}

.data {
    margin-right: 60px;
}

.data>.data-name>p {
    font-size: 25px;
    margin-left: 5px;
}

.data-name {
    display: inline-flex;
    flex-direction: row;
}

.poke-image {
    background-color: #DADAD7;
    height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 8px #999;
}

.poke-image>img {
    width: 180px;
    height: 190px;
}

.type {
    margin-top: 20px;
    margin-left: 10px;
}

.type>h4 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.type-name {
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}

.type-image {
    margin-right: 10px;
    margin-top: 10px;
}

.c2>h4 {
    text-align: center;
}

.c2>button {
    margin-left: 35%;
    margin-top: 20px;
    background-color: #24D6E1;
    color:white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
}

.stats>label {
    font-weight: bold;
    margin-right: 10px;
}